<p>Klik <a href="{{ url }}">hier</a> om uw account te activeren.</p>
<p>Nadat u uw account heeft geactiveerd, kan u met onderstaande gegevens inloggen:</p>
<ul>
    <li>Gebruikersnaam: {{ username }}</li>
    <li>Wachtwoord: {{ password }}</li>
</ul>
<strong>Om u account beter te beveiligen raden wij u aan om u wachtwoord zo snel mogelijk te veranderen via de instellingen pagina van de CADSS toepassing.</strong>
